﻿#menu {margin-left:-15px;}
.home {margin-left:30px;}
#main {padding-top:80px;}
#testimonial, .sub_promos {margin-top:-35px;}
.left_nav {margin-top:70px;}
#right_content {margin:0px; padding:0px;}
#content_back {width:650px; margin:0px; margin-left:10px; padding:5px; margin-top:10px; height:auto !important;}
#content_back h1, #content_back h2, #content_back h3, #content_back p {margin-right:0px;}
#header_products, #header_procurement, #header_electricity, #header_gas, #header_flexible, #header_bill, #header_supply, #header_climate, 
#header_reduction, #header_agreement_management, #header_agreement_acquisition, #header_carbon, #header_energy, #header_surveys, 
#header_online, #header_information, #header_tenant, #header_decision, #header_triad, #header_solutions, #header_food, #header_foundry, 
#header_plastics, #header_distribution, #header_engineering, #header_why, #header_case, #header_about, #header_contact, #header_recruitment, 
#header_thanks, #header_vision, #header_blog, #header_promotion, #header_downloads
{
    width:670px; 
    margin-top:70px;
}
.large_icon {width:280px; height:280px; margin-left:0px; margin-top:20px; float:left;}
.main_services li a {margin-right:2px;}
.nav_heading {margin-top:5px; margin-bottom:-10px;}
