body,td {
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #006699;
	scrollbar-base-color : #ffffff;
	scrollbar-highlight-color: #006699;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #f8f8f8;
	scrollbar-arrow-color: #006699;
	overflow:auto;
}
a { text-decoration:none; font-weight:normal;}
a:hover { text-decoration:none; font-weight:normal;}
a:active { color:#000000; text-decoration:none; font-weight:normal ;}

.Option { 
  height: 24px; 
  padding:2 5 3 5; 
/*  border-right: #FFFFC1 1px solid; 
  border-top: #ffffff 1px solid; 
  border-left: #FFFFC1 1px solid; 
  border-bottom: lightgray 1px solid; 
background-color: #FFFFC1; */
  font-family:tahoma, verdana, helvetica; 
  font-size: 9px; 
  font-weight:normal;
  color:yellow;
  cursor:hand;
}

.Options {
  overflow:auto;
  padding:1 1 1 1;
  height:100%;
  /*background-color:#FFFFC0;*/
}


#mastertable
{
    border:0;
    background-color:transparent;
    background-repeat: no-repeat;
    position:absolute;
    left:0;
    margin-left:-10px;
   
}

.tag 
{
  font-size:8px;
  font-weight:bold;
  color:navy; 
}

#masterdiv { 
background-color: transparent;
color:navy;
border:1px thin black;
width:220px;
}

body 
{
 marginheight:0;
 marginwidth:0;
 topmargin:0;
 leftmargin:0;

}
.Menu
{
height: 25px; 
padding:1 1 1 1; 
/*border-right: #FFFFC1 1px solid; 
border-top: white 1px solid; 
border-left: #FFFFC1 1px solid; 
border-bottom: black 1px solid; 
background-color: lightgray; */
font-family:tahoma, verdana, helvetica; 
font-size: 9px; 
font-weight:normal;
cursor:hand; 
}   
