﻿/* holds all layout styles and anything that overrides main.css */
@import url(/css/reset.css);
@import url(/css/main.css);
@import url(/css/panels.css);

/* login page */
.LoginButton {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/login.png') no-repeat;}
.LoginButton:hover {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/login-hover.png') no-repeat;cursor:pointer;}
 
.SendEmailButton {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-sendemail.png') no-repeat;}
.SendEmailButton:hover {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-sendemail-hover.png') no-repeat;cursor:pointer;}
 
.CancelEmailButton {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-cancel.png') no-repeat;}
.CancelEmailButton:hover {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-cancel-hover.png') no-repeat;cursor:pointer;}

.ContinueButton {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-continue.png') no-repeat;}
.ContinueButton:hover {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/buttons-continue-hover.png') no-repeat;cursor:pointer;}
 
 