﻿/* The Big Guns */
html {font-size: 62.5%; color: #6b6b6b;}
body 
{
    background-color: #fff;
	text-align: center; 
	width:100%;
	font: normal 1.19em/1.7em "Verdana", "Helvetica", "Arial", sans-serif;
	letter-spacing: 0em;
}
h1, h2, h3, h4, p, ul {padding:5px;}

/* palette

grey - 6b6b6b
light grey = c7c7c7
blue - 082b61
light blue = c4dffd
green - 6ebb1f
yellow - dbef3b

*/

/* fonts */
p {line-height: 1.4em;}
h1, h2, h3, h4 {font-family: "Verdana", "Helvetica", "Arial", sans-serif}
h1 {font: normal 2.29em; color:#000;}
h2 {font: normal 1.89em; color:#000;}
h3 {font: normal 1.19em; color:#082b61;}
h4 {font: italic 1.09em; color:#6ebb1f;}
h1 a, h2 a, h3 a, h4 a {text-indent:-9999px; display:block; text-decoration: none;}
hr {display:none;}
div .hr {background: transparent url('/assets/line.gif') no-repeat left; width:627px; height:2px; border:0px; margin-top:5px; margin-bottom:5px; clear:both;} 

table {border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-bottom:10px;
}
th {text-align:left; font-weight:bold;}
tr {text-align:left;}
td {text-align:left; padding:2px;}
.alt {background-color:#c7c7c7;}

ul {margin-left:20px;}
.bullet {margin-right:20px;}
.bullet li {background: transparent url('/assets/ball-trans.png') left top no-repeat; padding-left: 3em; list-style-position: inside; text-indent: -1em;}
ol {line-height:1.9em; margin-bottom:10px;}
em, address {color:#6b6b6b; font-weight:bold;}
address { font-weight:normal;}
blockquote, cite {padding:5px; font-style:italic; margin-left:15px;}
acronym {border-bottom: 1px dotted #082b61; color:#082b61; font-weight:bold; cursor: help;}
  
/* links */
a {outline:none; text-decoration:underline; color:#00accd;}
a:hover {color:#4c9951;}
#footer a {color:#082b61;}
#footer a:hover {color:#00accd;}

/* forms */
form {}
fieldset {margin-bottom:10px;}
fieldset div {}
fieldset p {}
fieldset label {}
fieldset input {}
