﻿.defaultPanel 
{
    border-style:ridge;
    border-width:medium;
    background-color:#FFFFC0;
}
.defaultPanelHeader
{
    border-style:groove; 
    border-width:medium; 
    text-align:left; 
    text-indent:10px;
    font-weight:bold; 
    background-color:#009530;
    color:#FFFFFF;
}