﻿/* normalises margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th,td
{margin:0; padding: 0}

/* normalises font-size for headers */
h1, h2, h3, h4, h5, h6
{font-size: 100%}

/* removes list-style from lists */
ol, ul
{list-style: none;}

/* normalises font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var
{font-style: normal; font-weight: normal;}

/* normalises tables */
table
{border-collapse: collapse; border-spacing: 0;}

/* removes border from fieldset and image */
fieldset, img
{border: 0px;}

/* left-aligns text in caption and th */
caption, th
{text-align: left;}

/* removes quotation marks from q */
q:before, q:after
{content: '';}
