﻿/* holds all layout styles and anything that overrides main.css */
@import url(/css/reset.css);
@import url(/css/schneidermain.css);
@import url(/css/panels.css);

/* branding */
#branding {position:absolute; top:0px; left:0px; width:900px; height:74px; background: #fff url('/assets/Schneider/branding.jpg') top no-repeat;}
#um {float:left; margin-left:10px; margin-top:5px; text-indent:-9999px; width:330px; height:83px; display:block;}
#informationbar {position:absolute; top:55px; left:0px; width:900px; height:25px; background: #fff url('/assets/Schneider/informationbar.png') top no-repeat; }

/* menu */
#menu {width:900px; height:35px; clear:both; margin-left:15px;}
#menu li {background:none; text-indent:-9999px; float:left;}
#menu li a, #menu li a:hover {display:block; height:47px;}

#menu_sub {width:900px; height:35px; clear:both; margin-left:-5px;}
#menu_sub li {background:none; text-indent:-9999px; float:left;}
#menu_sub li a, #menu li a:hover {display:block; height:47px;}

/*Metering and Production */
.hiddencol  { display:none;  }
.viscol { display:block; }

/*MeterOutStanding */
.DetailsView {font: font-family:Arial; font-size:9px; background-color: yellow; color: Navy; border:none;}
.ListBox {font-family:Arial; font-size:9px; background-color: white; color: Navy;} 
/*
 scrollbar-arrow-color: #4e658a;
scrollbar-3dlight-color: #777799;
scrollbar-darkshadow-color: #666677;
scrollbar-face-color: #a1b1c3;
scrollbar-highlight-color: #e9e9e9;
scrollbar-shadow-color: #a1b1c3;
scrollbar-track-color: #ffffff;
*/    
.inputbox { font-family:Arial; font-size:9px; background-color: white; color: Navy; border: solid 1px lightgrey;}
.mygrid { font-family:Arial; font-size:9px; background-color: white; color: Navy; border:none;}
.mygridinput{ font-family:Arial; font-size:9px; background-color: white; color: Navy; border:solid 1px lightgray;  text-align:left;}
.HiddenColumn{display:none;}
.generalbutton { font-family:Arial; font-size:9px; background-color: white; color: Navy; cursor:hand; border:solid 1px lightgray;}
.pagerstyle {visibility:hidden;}
.mynextprev {font-family:Arial; font-size:9px; background-color: yellow; color: Navy; cursor:hand; border:solid 1px lightgray;}
.mygriddropdown{font-family:Arial; font-size:9px; background-color: yellow; color: Navy; cursor:hand; border:solid 1px lightgray;}
.generallabel{ font-family:Arial; font-size:9px; background-color: white; color: Navy; border:none;}
/* end  */


.myAncor
{
 font-size:9px;
}

.myTable
{
    border-color: #650;
    border-width:0px 0px 0px 0px;
    border-style: solid;
    background-color:#ffffff;
    font-size:12px;
    font-family:Arial;
    width:600px;
    height:300px;
}

.myCaption
{
background-color:black;
color:white;
text-align:center;
}

.myButton
{
height:17px;
width:80px;
background-color:#9999cc;
font-size:10px;
font-family:Arial;
color:white;
}

.myDiv
{
background-color:#ffffc0;
height:58px;
width:89px;
border-color: #600;
border-width: 1px 1px 1px 1px;
border-style: solid;
font-size:14px;
font-family:Arial;
color:green;
overflow:auto;
white-space:nowrap;
/*scrollbar-base-color: #9999cc;
scrollbar-arrow-color: white;
scrollbar-track-color: #ccccff;
scrollbar-shadow-color: black;
scrollbar-lightshadow-color: black; 
scrollbar-darkshadow-color: gray;
scrollbar-highlight-color: white;
scrollbar-3dlight-color: black;
*/
}



.myDivWeek
{
background-color:orange;
height:58px;
width:89px;
border-color: #600;
border-width: 1px 1px 1px 1px;
border-style: solid;
font-size:14px;
font-family:Arial;
color:green;
overflow:auto;
white-space:nowrap;
/*scrollbar-base-color: #9999cc;
scrollbar-arrow-color: white;
scrollbar-track-color: #ccccff;
scrollbar-shadow-color: black;
scrollbar-lightshadow-color: black; 
scrollbar-darkshadow-color: gray;
scrollbar-highlight-color: white;
scrollbar-3dlight-color: black;
*/
}
.myDivOver
{
background-color:white;
height:80px;
width:125px;
border-color: #600;
border-width: 1px 1px 1px 1px;
border-style: solid;
font-size:14px;
font-family:Arial;
color:green;
overflow:auto;
white-space:nowrap;
/*
scrollbar-base-color: #9999cc;
scrollbar-arrow-color: white;
scrollbar-track-color: #ccccff;
scrollbar-shadow-color: black;
scrollbar-lightshadow-color: black; 
scrollbar-darkshadow-color: gray;
scrollbar-highlight-color: white;
scrollbar-3dlight-color: black;
*/
}

.myframe
 { 
width:100%; 
height:100%; 
border:1px solid #9999cc;
background-color:#ffffC0;
}

/*=====================*/

.sites {width:77px; background: transparent url('/assets/Schneider/menu-item-my-sites.jpg') no-repeat;}
.sites:hover {width:77px; background: transparent url('/assets/Schneider/menu-item-my-sites-hover.jpg') no-repeat;}
.sitesnone {width:0px; }

.reports {width:94px; background: transparent url('/assets/Schneider/menu-item-my-reports.jpg') no-repeat;}
.reports:hover {width:94px; background: transparent url('/assets/Schneider/menu-item-my-reports-hover.jpg') no-repeat;}
.reportsnone {width:0px;}

.account {width:98px; background: transparent url('/assets/Schneider/menu-item-my-account.jpg') no-repeat;}
.account:hover {width:98px; background: transparent url('/assets/Schneider/menu-item-my-account-hover.jpg') no-repeat;}
.accountnone {width:0px;}

.apps {width:77px; background: transparent url('/assets/Schneider/menu-item-my-apps.jpg') no-repeat;}
.apps:hover {width:77px; background: transparent url('/assets/Schneider/menu-item-my-apps-hover.jpg') no-repeat;}
.appsnone {width:0px;}

.none {width:6px; background: transparent url('/assets/Schneider/menu-item-none.jpg') no-repeat;}

.admin {width:62px; background: transparent url('/assets/Schneider/menu-item-admin.jpg') no-repeat;}
.admin:hover {width:62px; background: transparent url('/assets/Schneider/menu-item-admin-hover.jpg') no-repeat;}
.adminnone {width:0px;}

.promotion {width:97px; background: transparent url('/assets/Schneider/menu-item-promotion.jpg') no-repeat; margin-left:10px;}
.promotion:hover {width:97px; background: transparent url('/assets/Schneider/menu-item-promotion-hover.jpg') no-repeat;}

.blog {width:46px; background: transparent url('/assets/Schneider/menu-item-blog.jpg') no-repeat;}
.blog:hover {width:46px; background: transparent url('/assets/Schneider/menu-item-blog-hover.jpg') no-repeat;}

.help {width:77px; background: transparent url('/assets/Schneider/menu-item-my-help.jpg') no-repeat;}
.help:hover {width:77px; background: transparent url('/assets/Schneider/menu-item-my-help-hover.jpg') no-repeat;}
.helpnone {width:0px; }

.logout {width:133px; background: transparent url('/assets/Schneider/menu-logout.png') no-repeat; left:750px; position:absolute;}
.logout:hover {width:133px; background: transparent url('/assets/Schneider/menu-logout-hover.png') no-repeat;}

.tableview {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-table.jpg') no-repeat;}
.tableviewcurrent {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-table-hover.jpg') no-repeat;}
.tableview:hover {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-table-hover.jpg') no-repeat;}
.mapview {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-map.jpg') no-repeat;}
.mapviewcurrent {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-map-hover.jpg') no-repeat;}
.mapview:hover {width:62px; background: transparent url('/assets/Schneider/menu-my-sites-map-hover.jpg') no-repeat;}

/* main content */
#outer_wrapper {background: transparent url('/assets/Schneider/outer-wrapper.gif') repeat-y; width:960px; position:relative; margin-left:auto; margin-right:auto; text-align:center;}
#wrapper {text-align:left; width:900px; position:relative; margin-left:30px; margin-right:30px; background-color:#fff;}
#main {height:auto !important; padding-top:83px;}

/* footer */
#footer_action {background: url('/assets/Schneider/footer-action.jpg') no-repeat; width:900px; height:69px; clear:both;}
.contact_footer {display:block; height:47px; width:138px; background: transparent url('/assets/Schneider/menu-item-contact.jpg') no-repeat; float:right; margin-right:17px; margin-top:12px; text-indent:-9999px;}
.contact_footer:hover {width:138px; background: transparent url('/assets/Schneider/menu-item-contact-hover.jpg') no-repeat; float:right;}
#footer {text-align:center; background: url('/assets/Schneider/footer.jpg') no-repeat; width:900px; height:63px; color:#6b6b6b; padding:0px; padding-top:10px; clear:both;}

/* left navigation */
#left_nav_sites {background: url('/assets/Schneider/left-nav-sites.png') no-repeat;}
#left_nav_reports {background: url('/assets/Schneider/left-nav-reports.png') no-repeat;}
#left_nav_account {background: url('/assets/Schneider/left-nav-account.png') no-repeat;}
#left_nav_apps {background: url('/assets/Schneider/left-nav-apps.png') no-repeat;}
#left_nav_admin {background: url('/assets/Schneider/left-nav-admin.png') no-repeat;}
#left_nav_help {background: url('/assets/Schneider/left-nav-help.png') no-repeat;}

.left_nav {width:220px; height:500px; float:left;}
.left_nav div {margin-left:5px;}
.left_nav div h3, .left_nav div h2 {height:10px;}
.left_nav h2 a {text-indent:20px; color:#082b61; background: transparent url('/assets/Schneider/bullet-trans.png') left center no-repeat;}
.left_nav h3 a {text-indent:20px; color:#082b61; background: transparent url('/assets/Schneider/bullet-trans.png') left center no-repeat;}
.nav_heading {margin-top:5px; margin-bottom:10px;}
.nav_home {display:block; width:220px; height:45px; margin-left:-5px;}
.nav {margin-left:5px; text-indent:20px; font-size:11px; color:#}
.nav li:hover, .left_nav h3 a:hover {background: transparent url('/assets/Schneider/bullet-trans.png') left center no-repeat; color:#009530;}
.nav .selected, .nav a:active {color:#009530;}
#left_nav_logos {margin:0px; padding:0px; background: transparent url('/assets/Schneider/left-nav-logos.jpg') left center no-repeat; width:220px; height:396px; margin-top:10px; float:left;}
.nav_email, .nav_chat, .nav_carbon, .nav_recruitment {display:block; width:172px; height:80px; margin-left:23px; margin-top:10px;}
.nav_email {margin-top:23px;}

/* content pages */
#right_content {width:680px; height:auto; float:right; margin:0px; padding:0px;}
.content_back {background: transparent url('/assets/Schneider/content-back.jpg') no-repeat; width:670px; min-height:500px; margin-top:0px; margin-left:10px; padding:15px; padding-top:105px;}
.content_back h1 a, .content_back h2 a, .content_back h3 a {text-indent:0px;}
.content_back h1, .content_back h2, .content_back h3, #content_back p {margin-right:20px;}
.my_sites {background: transparent url('/assets/Schneider/content-back-my-sites.jpg') no-repeat;}
.my_reports {background: transparent url('/assets/Schneider/content-back-my-reports.jpg') no-repeat;}
/*.my_account {background: transparent url('/assets/Schneider/content-back-my-account.jpg') no-repeat;} */
.my_account {background: transparent url('/assets/Schneider/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
.my_apps {background: transparent url('/assets/Schneider/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
/*.my_admin {background: transparent url('/assets/Schneider/content-back-admin.jpg') no-repeat;}*/
.my_admin {background: transparent url('/assets/Schneider/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
.general {background: transparent url('/assets/Schneider/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
.noleft {background: transparent url('/assets/Schneider/content-back-noleft.jpg') no-repeat; padding-top:15px; padding-left:10px; width:860px;}

/* buttons */
.more_details, .contact_us, .more_details:hover, .contact_us:hover {text-indent:-9999px; display:block; width:119px; height:37px;}
.more_details {background: transparent url('/assets/Schneider/button-more-trans.png') no-repeat;}
.more_details:hover {background: transparent url('/assets/Schneider/button-more-hover-trans.png') no-repeat;}
.contact_us {background: transparent url('/assets/Schneider/button-contact-trans.png') no-repeat;}
.contact_us:hover {background: transparent url('/assets/Schneider/button-contact-hover-trans.png') no-repeat;}
#send {text-align:right; padding-bottom:5px; padding-right:5px; padding-top:5px; width:505px; margin-top:5px; border: dotted 1px #6ebb1f; margin-left:5px; margin-bottom:10px;}

.btnGo {background: transparent url('/assets/Schneider/button_runreport.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnGo:hover {background: transparent url('/assets/Schneider/button_runreport_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnRunReport_disabled {background: transparent url('/assets/Schneider/button_runreport_disabled.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}



.btnAdd {background: transparent url('/assets/Schneider/buttons-general-add.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnAdd:hover {background: transparent url('/assets/Schneider/buttons-general-add-hover.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnRemove {background: transparent url('/assets/Schneider/button_remove.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnRemove:hover {background: transparent url('/assets/Schneider/button_remove_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnCancel {background: transparent url('/assets/Schneider/buttons-general-cancel.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnCancel:hover {background: transparent url('/assets/Schneider/buttons-general-cancel-hover.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnReset {background: transparent url('/assets/Schneider/button_reset.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnReset:hover {background: transparent url('/assets/Schneider/button_reset_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnAddRight {background: transparent url('/assets/Schneider/button_add_right.gif') no-repeat;text-indent:-9999px; display:block; width:50px; height:20px; cursor:pointer;}
.btnAddRight:hover {background: transparent url('/assets/Schneider/button_add_right_hover.gif') no-repeat;text-indent:-9999px; display:block; width:50px; height:20px; cursor:pointer;}

.btnAddLeft {background: transparent url('/assets/Schneider/button_add_left.gif') no-repeat;text-indent:-9999px; display:block; width:50px; height:20px; cursor:pointer;}
.btnAddLeft:hover {background: transparent url('/assets/Schneider/button_add_left_hover.gif') no-repeat;text-indent:-9999px; display:block; width:50px; height:20px; cursor:pointer;}

.btnRemoveAllMeters {background: transparent url('/assets/Schneider/button_meter_remove.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnRemoveAllMeters:hover {background: transparent url('/assets/Schneider/button_meter_remove_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
/*
.btnDownload {background: transparent url('/assets/Schneider/button_download.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnDownload:hover {background: transparent url('/assets/Schneider/button_download_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
*/
.btnMeters {background: transparent url('/assets/Schneider/button_meters.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters:hover {background: transparent url('/assets/Schneider/button_meters_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnClose {background: transparent url('/assets/Schneider/button_close.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnClose:hover {background: transparent url('/assets/Schneider/button_close_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnAddReport {background: transparent url('/assets/Schneider/button-add.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnAddReport:hover {background: transparent url('/assets/Schneider/button-add-hover.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnSelect {background: transparent url('/assets/Schneider/button_select.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnSelect:hover {background: transparent url('/assets/Schneider/button_select_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnSelectDOT {background: transparent url('/assets/Schneider/button_dotdotdot_OFF.gif') no-repeat;text-indent:-9999px; display:block; width:20px; height:20px; cursor:pointer;}
.btnSelectDOT:hover {background: transparent url('/assets/Schneider/button_dotdotdot_ON.gif') no-repeat;text-indent:-9999px; display:block; width:20px; height:20px; cursor:pointer;}

.btnMeters_ShowAll {background: transparent url('/assets/Schneider/button_meter_showall.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowAll:hover {background: transparent url('/assets/Schneider/button_meter_showall_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowAll_Selected {background: transparent url('/assets/Schneider/button_meter_showall_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnMeters_ShowMPAN {background: transparent url('/assets/Schneider/button_meter_mpan.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowMPAN:hover {background: transparent url('/assets/Schneider/button_meter_mpan_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowMPAN_Selected {background: transparent url('/assets/Schneider/button_meter_mpan_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnMeters_ShowLoggers {background: transparent url('/assets/Schneider/button_meter_loggers.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowLoggers:hover {background: transparent url('/assets/Schneider/button_meter_loggers_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowLoggers_Selected {background: transparent url('/assets/Schneider/button_meter_loggers_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnMeters_ShowVirtuals {background: transparent url('/assets/Schneider/button_meter_virtuals.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowVirtuals:hover {background: transparent url('/assets/Schneider/button_meter_virtuals_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnMeters_ShowVirtuals_Selected {background: transparent url('/assets/Schneider/button_meter_virtuals_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

/* myActivityManagement*/
.btnAddComment, .btnAddComment:hover{background: transparent url('../assets/Schneider/buttons-general-comment.png') no-repeat;cursor:pointer; display:block; margin: 0px 0px auto auto; float:left; width:120px; height:20px;}
.btnAddComment:hover{background: transparent url('../assets/Schneider/buttons-general-comment-hover.png') no-repeat;}

.btnAttach, .btnAttach:hover{background: transparent url('../assets/Schneider/button_add.gif') no-repeat;cursor:pointer; display:block; margin: 0px 0px auto auto; float:left; width:120px; height:20px;}
.btnAttach:hover{background: transparent url('../assets/Schneider/button_add_hover.gif') no-repeat;}

.btnSelectAttachment, .btnSelectAttachment:hover{background: transparent url('../assets/Schneider/buttons-general-attachment.jpg') no-repeat; cursor:pointer; display:block; float:left; margin: 0px 0px auto auto; width:120px; height:20px; }
.btnSelectAttachment:hover{background: transparent url('../assets/Schneider/buttons-general-attachment-hover.jpg') no-repeat;}

.btnRemove, .btnRemove:hover{background: transparent url('../assets/Schneider/button_attach_remove.jpg') no-repeat;cursor:pointer; display:block; float:left; margin: 0px 0px auto auto; width:120px; height:20px;}
.btnRemove:hover{background: transparent url('../assets/Schneider/button_attach_remove_hover.jpg') no-repeat;}

.btnSave, .btnSave:hover{background: transparent url('../assets/Schneider/buttons-general-save.png') no-repeat; cursor:pointer; display:block; float:left; margin: 0px 0px auto auto; width:120px; height:24px;}
.btnSave:hover{background: transparent url('../assets/Schneider/buttons-general-save-hover.png') no-repeat;}

.btnViewComment, .btnViewComment:hover{background: transparent url('../assets/Schneider/buttons-general-comment.png') no-repeat; cursor:pointer; display:block; float:left; margin: 0px 5px auto auto; width:120px; height:24px;}
.btnViewComment:hover{background: transparent url('../assets/Schneider/buttons-general-comment-hover.png') no-repeat;}

.btnViewAttachment, .btnViewAttachment:hover{background: transparent url('../assets/Schneider/buttons-general-attachments.png') no-repeat; cursor:pointer; display:block; float:left; margin: 0px 5px auto auto; width:120px; height:24px;}
.btnViewAttachment:hover{background: transparent url('../assets/Schneider/buttons-general-attachments-hover.png') no-repeat;}

.btnSiteSearch, .btnSiteSearch:hover{background: transparent url('../assets/Schneider/buttons-general-sitesearch.png') no-repeat; cursor:pointer; display: block; float:left; width:120px; height:20px; margin: 0px 0px auto auto;}
.btnSiteSearch:hover {background: transparent url('../assets/Schneider/buttons-general-sitesearch-hover.png') no-repeat;}

.btnSearch, .btnSearch:hover{background: transparent url('../assets/Schneider/button_search.jpg') no-repeat; cursor:pointer; display: block;  width:120px; height:20px; margin: 0px 0px auto auto;}
.btnSearch:hover {background: transparent url('../assets/Schneider/button_search_hover.jpg') no-repeat;}

.btnSubscribe, .btnSubscribe:hover{background: transparent url('../assets/Schneider/buttons-general-subscribe.png') no-repeat;cursor:pointer; display:block; margin: 0px 0px auto auto; float:right; width:120px; height:20px;}
.btnSubscribe:hover{background: transparent url('../assets/Schneider/buttons-general-subscribe-hover.png') no-repeat;}

.btnunsubscribe, .btnunsubscribe:hover{background: transparent url('../assets/Schneider/buttons-general-unsubscribe.png') no-repeat;cursor:pointer; display:block; margin: 0px 0px auto auto; float:right; width:120px; height:20px;}
.btnunsubscribe:hover{background: transparent url('../assets/Schneider/buttons-general-unsubscribe-hover.png') no-repeat;}

.btnClear{cursor:pointer; width:33px; height:33px;  background: transparent url('../assets/Schneider/Remove_33x33.png') no-repeat; margin: 0px 0px auto auto; padding: 0px 0px 0px 0px; display:block; float:left;} 

.ListBoxMedium{border:solid 1px #CCCCCC;}

.UMLBlue{color: #082B61; font-weight: bold;font-family: Verdana;}
.UMLGreen{color: #6EBB1F; font-family: Verdana; font-size:10px;}

.lbtnCalendar {cursor:pointer; display: block; margin-left:5px; float:right; width:25px; height:28px; z-index:1; background: transparent url('../assets/Schneider/calendar1.png') no-repeat;}

.lbtnRefresh {cursor:pointer; display: block; float:right; width:25px; height:25px; background: transparent url('../assets/Schneider/Refresh_25x25.png') no-repeat;}
/* misc 

*/
.label {text-align:left;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.contact_main {cursor:pointer;}
.error {color:red; font-style:italic;}
.ok {color:green; font-style:italic;}

/* my sites */
.map {}

/* my reports */

.my_reports {text-align:center;}
.box_links {width:600px;}
.box_links li {float:left; padding:20px;}
.box_links li a {width:229px; height:203px; display:block;}

.imserv {background: transparent url('/assets/Schneider/imserv.gif') no-repeat;}
.imserv_disabled {background: transparent url('/assets/Schneider/imserv_disabled.gif') no-repeat;}
.utilisys {background: transparent url('/assets/Schneider/utilisys.gif') no-repeat;}
.utilisys_disabled {background: transparent url('/assets/Schneider/utilisys_disabled.gif') no-repeat;}

.OnlineUtilisys {background: transparent url('/assets/Schneider/reports_onlineutilisys.gif') no-repeat;}
.OnlineUtilisys_disabled {background: transparent url('/assets/Schneider/reports_onlineutilisys_disabled.gif') no-repeat;}


.reports_dataanalysis {background: transparent url('/assets/Schneider/reports_dataanalysis.gif') no-repeat;}
.reports_dataanalysis_disabled {background: transparent url('/assets/Schneider/reports_dataanalysis_disabled.gif') no-repeat;}
.reports_reports {background: transparent url('/assets/Schneider/reports_reports.gif') no-repeat;}
.reports_reports_disabled {background: transparent url('/assets/Schneider/reports_reports_disabled.gif') no-repeat;}

.reportssetup {width:60px; background: transparent url('~/assets/Schneider/my-reports-setup.jpg') no-repeat;}


/* General report buttons */


.box_links_general					{width:600px;}
.box_links_general li				{float:left; padding:20px;}
.box_links_general li a				{width:229px; height:100px; display:block;}

.reports_GenerateReport				{background: transparent url('/assets/Schneider/buttons-myreports-general-generatereport.png') no-repeat;}
.reports_GenerateReport:hover		{background: transparent url('/assets/Schneider/buttons-myreports-general-generatereport-hover.png') no-repeat;}

.reports_GenerateReport_disabled		{background: transparent url('/assets/Schneider/buttons-myreports-general-generatereport-disabled.png') no-repeat;}

/* Report Items Top Level */

.box_links_reports {width:600px;}
.box_links_reports li {float:left; padding:15px;}
.box_links_reports li a {width:270px; height:150px; display:block; cursor:pointer;}

/* My Apps Items Top Level */
.box_links_myapps {width:500px;}
.box_links_myapps li {float:left; padding:15px;}
.box_links_myapps li a {width:270px; height:150px; display:block; cursor:pointer;}

/* my account */
.my_account form {}
.my_account fieldset {width:620px; height:100%; background: transparent url('/assets/Schneider/header_full.gif') no-repeat top left; border:none; margin-left:10px; margin-top:0px; float:left;}
.my_account fieldset h2 {width:620px; text-align:center; margin-bottom:5px;}
.my_account fieldset div {margin-top:5px; float:left; background-color:#e8f4ff; padding-top:10px;}
.my_account fieldset p {width:620px; padding:0px; margin:0px; height:10px; background: transparent url('/assets/Schneider/footer_full.gif') no-repeat bottom;}
.my_account fieldset label {width:200px; float:left; color:#082b61; font-weight:bold; clear:left; margin-left:10px;}
.my_account fieldset input {width:400px; float:right; border:none; margin:2px; background-color:transparent; color:#6b6b6b;}

/* login page */
.LoginButton {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/Schneider/login.png') no-repeat;}
.LoginButton:hover {text-indent:-9999px; display:block; width:119px; height:37px; background: transparent url('/assets/Schneider/login-hover.png') no-repeat;cursor:pointer;}
 
 
/* admin */
.buttons, .status, .users {width:625px; margin: 5px 0px 5px 5px; text-align:left;}
.button {border:1px solid #009530; background-color:#009530; color:#ffffff; cursor:pointer; width:90px; margin-left:5px; float:left;}
.search {width:100px; margin-left:5px; float:left;}
.status {margin-left:5px;}
.users {background-color:#B7E566; color:#ffffff;}
.users td {text-align:left; padding:2px;}
fieldset {text-align:left; margin:5px; padding:5px; width:620px; min-height:170px; height:auto; border:solid 1px #c7c7c7;}
fieldset label {width:200px; float: left;}
fieldset input, select {width:350px;}
fieldset p {height:18px;}
fieldset textarea {width:348px; height:100px;}
.textarea {height:110px;}
legend {background-color:transparent; color:#082b61; font-weight:bolder; padding-left:5px; padding-right:5px;}
.input_small {width: 30px;}
#paging, #paging2 {width:530px; text-align:right; padding-top:5px; height:19px;}
#filters {width:140px; float:right; margin-right:50px; margin-top:-10px; margin-bottom:5px;}
.tralt {background-color:#cbb5cc; color:#ffffff;}
.header {background-color:#009530; color:#ffffff;}
.status_message, .error, .ok {height:auto; margin:10px;}
.site_buttons {width:640px;}

/* paging controls */
.current_page {border:1px solid #c4dffd;}
#paging, #paging2 {width:auto; text-align:right; margin-bottom:5px; height:19px; float:left;}
#paging2 {clear:both; width:640px;}
.pages {float:right; width:auto;}
.pages li {display:block; float:left; margin-right:5px;}

/* tabbed menu */
ul.menu {width: 625px; height: 63px; background: transparent url("../../assets/Schneider/menu-bg.png") top left repeat-x; list-style-type: none; margin: 0px 0px 0px 5px; padding: 0; }
ul.menu li { display: block; float: left; margin: 0 0 0 5px; }
ul.menu li a { height: 43px; color: #777; text-decoration: none; display: block; float: left; line-height: 200%; padding: 8px 15px 0; }
ul.menu li a:hover { color: #333; }
ul.menu li a.current{ color: #FFF; background: transparent url("../../assets/Schneider/current-bg.png") top left repeat-x; padding: 0px 15px 10; height:25px; }


/* styleformytreeview */
.styleformytreeview {margin-left:15px; text-indent:20px; font-size:11px;}
.styleformytreeview li:hover {background: transparent url('/assets/Schneider/bullet-trans.png') left center no-repeat; color:#6ebb1f;}
.styleformytreeview .selected, .styleformytreeview a:active {color:#082b61;}

.styleformytreeview_companyheader {text-indent:0px; font-size:11pt; font-weight:bold; color:#082b61;}
.styleformytreeview_company {text-indent:20px; font-size:7pt; color:#082b61; font-weight:bold; cursor:pointer;}
.styleformytreeview_header {text-indent:25px; font-size:7pt; color:#082b61;  font-weight:bold; cursor:pointer;}
.styleformytreeview_site {text-indent:30px; font-size:7pt; color:#082b61;  cursor:pointer;}
.styleformytreeview_group {text-indent:30px; font-size:7pt; color:#082b61;  cursor:pointer;}

.styleformytreeview_companyheader_mouseover {text-indent:0px; font-size:8.5pt; font-weight:bold;}
.styleformytreeview_company_mouseover {text-indent:0px; font-size:8pt; color:#082b61; font-weight:bold; cursor:pointer;}
.styleformytreeview_header_mouseover {text-indent:15px; font-size:8pt; font-weight:bold; cursor:pointer;}
.styleformytreeview_site_mouseover {text-indent:30px; font-size:8pt; cursor:pointer;}
.styleformytreeview_group_mouseover {text-indent:30px; font-size:8pt; cursor:pointer;}

.report_criteria_header {text-indent:5px; font-size:8pt; text-decoration:none; color:#082b61; font-weight:bold;}


/* buttons for the main sites section */
.mySites_mapview				{background: transparent url('/assets/Schneider/buttons-mysites-mapview.gif') no-repeat;}
/*.mySites_mapview:hover			{background: transparent url('/assets/Schneider/buttons-mysites-mapview-hover.gif') no-repeat;}*/

.mySites_search					{background: transparent url('/assets/Schneider/buttons-mysites-search.gif') no-repeat;}
/*.mySites_search:hover			{background: transparent url('/assets/Schneider/buttons-mysites-search-hover.gif') no-repeat;}*/

.mySites_supplydetails		    {background: transparent url('/assets/Schneider/buttons-mysites-supplydetails.gif') no-repeat;}
/*.mySites_supplydetails:hover	{background: transparent url('/assets/Schneider/buttons-mysites-supplydetails-hover.gif') no-repeat;}*/


/* buttons for the main report section */
.reports_Carbon				        {background: transparent url('/assets/Schneider/buttons-reports-carbon-main.png') no-repeat;}
/*.reports_Carbon:hover   	        {background: transparent url('/assets/Schneider/buttons-reports-carbon-main-hover.png') no-repeat;}*/
.reports_Carbon_disabled	        {background: transparent url('/assets/Schneider/buttons-reports-carbon-main-disabled.png') no-repeat;}

.reports_FinancialReports	        {background: transparent url('/assets/Schneider/buttons-reports-financial-main.png') no-repeat;}
/*.reports_FinancialReports:hover     {background: transparent url('/assets/Schneider/buttons-reports-financial-main-hover.png') no-repeat;}*/
.reports_FinancialReports_disabled	{background: transparent url('/assets/Schneider/buttons-reports-financial-main-disabled.png') no-repeat;}

.reports_MarketInformation	        {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-main.png') no-repeat;}
/*.reports_MarketInformation:hover	{background: transparent url('/assets/Schneider/buttons-reports-marketinformation-main-hover.png') no-repeat;}*/
.reports_MarketInformation_disabled {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-main-disabled.png') no-repeat;}

.reports_ScheduledReports	        {background: transparent url('/assets/Schneider/buttons-reports-scheduled-main.png') no-repeat;}
/*.reports_ScheduledReports:hover	    {background: transparent url('/assets/Schneider/buttons-reports-scheduled-main-hover.png') no-repeat;}*/
.reports_ScheduledReports_disabled	{background: transparent url('/assets/Schneider/buttons-reports-scheduled-main-disabled.png') no-repeat;}

.reports_UtilityAnalysis	        {background: transparent url('/assets/Schneider/buttons-reports-performance-main.png') no-repeat;}
/*.reports_UtilityAnalysis:hover	    {background: transparent url('/assets/Schneider/buttons-reports-performance-main-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_disabled	{background: transparent url('/assets/Schneider/buttons-reports-performance-main-disabled.png') no-repeat;}

.reports_BespokeReporting	        {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-main.png') no-repeat;}
/*.reports_BespokeReporting:hover     {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-main-hover.png') no-repeat;}*/
.reports_BespokeReporting_disabled  {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-main-disabled.png') no-repeat;}

/*.reports_UtilityPurchasing_disabled {background: transparent url('/assets/Schneider/buttons-reports-utilitypurchasing-main-disabled.gif') no-repeat;}*/

/* Bespoke CSS */

.reports_BespokeReporting_MENEventStatement	        {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-meneventstatement.png') no-repeat;}
/*.reports_BespokeReporting_MENEventStatement:hover   {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-meneventstatement-hover.png') no-repeat;}*/

.reports_BespokeReporting_BizBillDetails	        {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-bizbilldetails.png') no-repeat;}
/*.reports_BespokeReporting_BizBillDetails:hover	    {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-bizbilldetails-hover.png') no-repeat;}*/

.reports_BespokeReporting_Other	                    {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-other.png') no-repeat;}
/*.reports_BespokeReporting_Other:hover	            {background: transparent url('/assets/Schneider/buttons-reports-bespokereporting-other-hover.png') no-repeat;}*/


/* Utility Analysis */
.reports_UtilityAnalysis_Comparison                         {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparison.png') no-repeat;}
/*.reports_UtilityAnalysis_Comparison:hover                   {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparison-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_Comparison_disabled                {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparison-disabled.png') no-repeat;}

.reports_UtilityAnalysis_SEC                                {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-SEC.png') no-repeat;}
/*.reports_UtilityAnalysis_SEC:hover                          {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-SEC-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_SEC_disabled                       {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-SEC-disabled.png') no-repeat;}

.reports_UtilityAnalysis_CompareMeterPoints                 {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparemeterpoints.png') no-repeat;}
/*.reports_UtilityAnalysis_CompareMeterPoints:hover           {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparemeterpoints-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_CompareMeterPoints_disabled        {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-comparemeterpoints-disabled.png') no-repeat;}

.reports_UtilityAnalysis_VirtualMeterAnalysis               {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-virtualmeteranalysis.png') no-repeat;}
/*.reports_UtilityAnalysis_VirtualMeterAnalysis:hover         {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-virtualmeteranalysis-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_VirtualMeterAnalysis_disabled      {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-virtualmeteranalysis-disabled.png') no-repeat;}

.reports_UtilityAnalysis_AggregatedMeterAnalysis            {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-aggregatedmeteranalysis.png') no-repeat;}
/*.reports_UtilityAnalysis_AggregatedMeterAnalysis:hover      {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-aggregatedmeteranalysis-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_AggregatedMeterAnalysis_disabled   {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-aggregatedmeteranalysis-disabled.png') no-repeat;}

.reports_UtilityAnalysis_ConsumptionvsDriver                {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-consumptionvsdriver.png') no-repeat;}
/*.reports_UtilityAnalysis_ConsumptionvsDriver:hover          {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-consumptionvsdriver-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_ConsumptionvsDriver_disabled       {background: transparent url('/assets/Schneider/buttons-reports-utilityanalysis-consumptionvsdriver-disabled.png') no-repeat;}




/* Financial Reports */
.reports_UtilityAnalysis_ConsumptionandCost             {background: transparent url('/assets/Schneider/buttons-reports-financial-consumptionandcost.png') no-repeat;}
/*.reports_UtilityAnalysis_ConsumptionandCost:hover       {background: transparent url('/assets/Schneider/buttons-reports-financial-consumptionandcost-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_ConsumptionandCost_disabled    {background: transparent url('/assets/Schneider/buttons-reports-financial-consumptionandcost-disabled.png') no-repeat;}

.reports_Financial_MonthlyConsumptionReport             {background: transparent url('/assets/Schneider/buttons-reports-financial-monthlyconsumption.png') no-repeat;}
/*.reports_Financial_MonthlyConsumptionReport:hover       {background: transparent url('/assets/Schneider/buttons-reports-financial-monthlyconsumption-hover.png') no-repeat;}*/
.reports_Financial_MonthlyConsumptionReport_disabled    {background: transparent url('/assets/Schneider/buttons-reports-financial-monthlyconsumption-disabled.png') no-repeat;}

.reports_UtilityAnalysis_BillCheck                      {background: transparent url('/assets/Schneider/buttons-reports-financial-billcheck.png') no-repeat;}
/*.reports_UtilityAnalysis_BillCheck:hover                {background: transparent url('/assets/Schneider/buttons-reports-financial-billcheck-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_BillCheck_disabled             {background: transparent url('/assets/Schneider/buttons-reports-financial-billcheck-disabled.png') no-repeat;}

.reports_UtilityAnalysis_TenantBilling                  {background: transparent url('/assets/Schneider/buttons-reports-financial-tenantbilling.png') no-repeat;}
/*.reports_UtilityAnalysis_TenantBilling:hover            {background: transparent url('/assets/Schneider/buttons-reports-financial-tenantbilling-hover.png') no-repeat;}*/
.reports_UtilityAnalysis_TenantBilling_disabled         {background: transparent url('/assets/Schneider/buttons-reports-financial-tenantbilling-disabled.png') no-repeat;}

.reports_Financial_WeeklySpendReport                    {background: transparent url('/assets/Schneider/buttons-reports-financial-weeklyspendreport.png') no-repeat;}
/*.reports_Financial_WeeklySpendReport:hover              {background: transparent url('/assets/Schneider/buttons-reports-financial-weeklyspendreport-hover.png') no-repeat;}*/
.reports_Financial_WeeklySpendReport_disabled           {background: transparent url('/assets/Schneider/buttons-reports-financial-weeklyspendreport-disabled.png') no-repeat;}

.reports_Financial_BudgetForecast                      {background: transparent url('/assets/Schneider/buttons-reports-financial-budgetforecast.png') no-repeat;}
/*{background: transparent; width: 270px; height:150px; background-color:Orange;}*/
/*.reports_Financial_WeeklySpendReport:hover              {background: transparent url('/assets/Schneider/buttons-reports-financial-weeklyspendreport-hover.png') no-repeat;}*/
.reports_Financial_BudgetForecast_disabled           {background: transparent url('/assets/Schneider/buttons-reports-financial-budgetforecast-disabled.png') no-repeat;}

/* Scheduled Reports */
.reports_ScheduledReports_DataServices                  {background: transparent url('/assets/Schneider/buttons-reports-scheduled-dataservices.png') no-repeat;}
/*.reports_ScheduledReports_DataServices:hover            {background: transparent url('/assets/Schneider/buttons-reports-scheduled-dataservices-hover.png') no-repeat;}*/
.reports_ScheduledReports_DataServices_disabled         {background: transparent url('/assets/Schneider/buttons-reports-scheduled-dataservices-disabled.png') no-repeat;}

.reports_ScheduledReports_GasBillValidation             {background: transparent url('/assets/Schneider/buttons-reports-scheduled-gasbillvalidation.png') no-repeat;}
/*.reports_ScheduledReports_GasBillValidation:hover       {background: transparent url('/assets/Schneider/buttons-reports-scheduled-gasbillvalidation-hover.png') no-repeat;}*/
.reports_ScheduledReports_GasBillValidation_disabled    {background: transparent url('/assets/Schneider/buttons-reports-scheduled-gasbillvalidation-disabled.png') no-repeat;}

.reports_ScheduledReports_ElecBillValidation            {background: transparent url('/assets/Schneider/buttons-reports-scheduled-elecbillvalidation.png') no-repeat;}
/*.reports_ScheduledReports_ElecBillValidation:hover      {background: transparent url('/assets/Schneider/buttons-reports-scheduled-elecbillvalidation-hover.png') no-repeat;}*/
.reports_ScheduledReports_ElecBillValidation_disabled   {background: transparent url('/assets/Schneider/buttons-reports-scheduled-elecbillvalidation-disabled.png') no-repeat;}

.reports_ScheduledReports_TenantBilling                 {background: transparent url('/assets/Schneider/buttons-reports-scheduled-tenantbilling.png') no-repeat;}
/*.reports_ScheduledReports_TenantBilling:hover           {background: transparent url('/assets/Schneider/buttons-reports-scheduled-tenantbilling-hover.png') no-repeat;}*/
.reports_ScheduledReports_TenantBilling_disabled        {background: transparent url('/assets/Schneider/buttons-reports-scheduled-tenantbilling-disabled.png') no-repeat;}


.reports_ScheduledReports_CRCQuarterly {background: transparent url('/assets/Schneider/buttons-reports-scheduled-crcquarterly.png') no-repeat;}
.reports_ScheduledReports_CRCQuarterly_disabled {background: transparent url('/assets/Schneider/buttons-reports-scheduled-crcquarterly-disabled.png') no-repeat;}

.reports_ScheduledReports_DailyConsumptionandCost {background: transparent url('/assets/Schneider/buttons-reports-scheduled-dailyconsumptionandcost.png') no-repeat;}
.reports_ScheduledReports_DailyConsumptionandCost_disabled {background: transparent url('/assets/Schneider/buttons-reports-scheduled-dailyconsumptionandcost-disabled.png') no-repeat;}

.reports_ScheduledReports_DecisionPointElec {background: transparent url('/assets/Schneider/buttons-reports-scheduled-decisionpointelectricity.png') no-repeat;}
.reports_ScheduledReports_DecisionPointElec_disabled {background: transparent url('/assets/Schneider/buttons-reports-scheduled-decisionpointelectricity-disabled.png') no-repeat;}



/* Carbon Reports */

.reports_CarbonReports_CRCManagement                    {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-main.png') no-repeat;}
/*.reports_CarbonReports_CRCManagement:hover              {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-main-hover.png') no-repeat;}*/
.reports_CarbonReports_CRCManagement_disabled           {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-main-disabled.png') no-repeat;}

.reports_CarbonReports_EnergyEfficiencyAudit            {background: transparent url('/assets/Schneider/buttons-reports-carbon-energyefficiencyaudit.png') no-repeat;}
/*.reports_CarbonReports_EnergyEfficiencyAudit:hover      {background: transparent url('/assets/Schneider/buttons-reports-carbon-energyefficiencyaudit-hover.png') no-repeat;}*/
.reports_CarbonReports_EnergyEfficiencyAudit_disabled   {background: transparent url('/assets/Schneider/buttons-reports-carbon-energyefficiencyaudit-disabled.png') no-repeat;}

.reports_CarbonReports_ClimateChangeAgreement           {background: transparent url('/assets/Schneider/buttons-reports-carbon-climatechangeagreement.png') no-repeat;}
/*.reports_CarbonReports_ClimateChangeAgreement:hover     {background: transparent url('/assets/Schneider/buttons-reports-carbon-climatechangeagreement-hover.png') no-repeat;}*/
.reports_CarbonReports_ClimateChangeAgreement_disabled  {background: transparent url('/assets/Schneider/buttons-reports-carbon-climatechangeagreement-disabled.png') no-repeat;}


.reports_CarbonReports_CRCEvidencePack {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-crcevidencepack.png') no-repeat;}
.reports_CarbonReports_CRCCompanyStructure {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-crccompanystructure.png') no-repeat;}
.reports_CarbonReports_CRCDetailedCompanyStructure {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-crcdetailedcompanystructure.png') no-repeat;}
.reports_CarbonReports_CRCStatusReport {background: transparent url('/assets/Schneider/buttons-reports-carbon-crcmanagement-crcstatusreport.png') no-repeat;}


/* Market Information */
.reports_MarketInformation_EUETSPrices                  {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-carbonprices.png') no-repeat;}
/*.reports_MarketInformation_EUETSPrices:hover            {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-carbonprices-hover.png') no-repeat;}*/
.reports_MarketInformation_EUETSPrices_disabled         {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-carbonprices-disabled.png') no-repeat;}

.reports_MarketInformation_ElectricityPrices            {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-electricityprices.png') no-repeat;}
/*.reports_MarketInformation_ElectricityPrices:hover      {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-electricityprices-hover.png') no-repeat;}*/
.reports_MarketInformation_ElectricityPrices_disabled   {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-electricityprices-disabled.png') no-repeat;}

.reports_MarketInformation_GasPrices                {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-gasprices.png') no-repeat;}
/*.reports_MarketInformation_GasPrices:hover          {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-gasprices-hover.png') no-repeat;}*/
.reports_MarketInformation_GasPrices_disabled       {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-gasprices-disabled.png') no-repeat;}

.reports_MarketInformation_EnergyMatters            {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-energymatters.png') no-repeat;}
/*.reports_MarketInformation_EnergyMatters:hover      {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-energymatters-hover.png') no-repeat;}*/
.reports_MarketInformation_EnergyMatters_disabled   {background: transparent url('/assets/Schneider/buttons-reports-marketinformation-energymatters-disabled.png') no-repeat;}


/* EU ETS Prices */

.btnEUETS_2Years {background: transparent url('/assets/Schneider/button_euets_last2years.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnEUETS_2Years:hover {background: transparent url('/assets/Schneider/button_euets_last2years_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnEUETS_1Year {background: transparent url('/assets/Schneider/button_euets_last1year.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnEUETS_1Year:hover {background: transparent url('/assets/Schneider/button_euets_last1year_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnEUETS_6Months {background: transparent url('/assets/Schneider/button_euets_last6months.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnEUETS_6Months:hover {background: transparent url('/assets/Schneider/button_euets_last6months_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnEUETS_1Month {background: transparent url('/assets/Schneider/button_euets_last1month.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnEUETS_1Month:hover {background: transparent url('/assets/Schneider/button_euets_last1month_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.btnEUETS_1Week {background: transparent url('/assets/Schneider/button_euets_last1week.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.btnEUETS_1Week:hover {background: transparent url('/assets/Schneider/button_euets_last1week_hover.gif') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}



/* buttons for the main apps section */
.apps_ActivityManagement	            {background: transparent url('/assets/Schneider/buttons-myapps-activitymanagement.png') no-repeat;}
/*.apps_ActivityManagement:hover	        {background: transparent url('/assets/Schneider/buttons-myapps-activitymanagement-hover.png') no-repeat;}*/
.apps_ActivityManagement_disabled	    {background: transparent url('/assets/Schneider/buttons-myapps-activitymanagement-disabled.png') no-repeat;}

.apps_Calculators	                    {background: transparent url('/assets/Schneider/buttons-myapps-calculators.png') no-repeat;}
/*.apps_Calculators:hover	                {background: transparent url('/assets/Schneider/buttons-myapps-calculators-hover.png') no-repeat;}*/
.apps_Calculators_disabled	            {background: transparent url('/assets/Schneider/buttons-myapps-calculators-disabled.png') no-repeat;}

.apps_DataEntry_Metered	                {background: transparent url('/assets/Schneider/buttons-myapps-dataentry.png') no-repeat;}
/*.apps_DataEntry_Metered:hover	        {background: transparent url('/assets/Schneider/buttons-myapps-dataentry-hover.png') no-repeat;}*/
.apps_DataEntry_Metered_disabled	    {background: transparent url('/assets/Schneider/buttons-myapps-dataentry-disabled.png') no-repeat;}

.apps_DownloadData	                    {background: transparent url('/assets/Schneider/buttons-myapps-downloaddata.png') no-repeat;}
/*.apps_DownloadData:hover	            {background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-hover.png') no-repeat;}*/
.apps_DownloadData_disabled	            {background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-disabled.png') no-repeat;}

.apps_VirtualMeterCreation	            {background: transparent url('/assets/Schneider/buttons-myapps-virtualmetercreation.png') no-repeat;}
/*.apps_VirtualMeterCreation:hover	    {background: transparent url('/assets/Schneider/buttons-myapps-virtualmetercreation-hover.png') no-repeat;}*/
.apps_VirtualMeterCreation_disabled	    {background: transparent url('/assets/Schneider/buttons-myapps-virtualmetercreation-disabled.png') no-repeat;}

.apps_MyEvents	                        {background: transparent url('/assets/Schneider/buttons-myapps-myevents.png') no-repeat;}
/*.apps_MyEvents:hover	                {background: transparent url('/assets/Schneider/buttons-myapps-myevents-hover.png') no-repeat;}*/
.apps_MyEvents_disabled	                {background: transparent url('/assets/Schneider/buttons-myapps-myevents-disabled.png') no-repeat;}

.apps_DataEntry_HHDataStatus			{background: transparent url('/assets/Schneider/buttons-myapps-hhdatastatus.png') no-repeat;}
/*.apps_DataEntry_HHDataStatus:hover		{background: transparent url('/assets/Schneider/buttons-myapps-hhdatastatus-hover.png') no-repeat;}*/
.apps_DataEntry_HHDataStatus_disabled	{background: transparent url('/assets/Schneider/buttons-myapps-hhdatastatus-disabled.png') no-repeat;}

/*  my apps download */

.apps_DownloadData_ExcelList	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-excellist.png') no-repeat;}
.apps_DownloadData_ExcelList:hover	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-excellist-hover.png') no-repeat;}
.apps_DownloadData_ExcelList_disabled	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-excellist-disabled.png') no-repeat;}

.apps_DownloadData_ExcelTab	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-exceltab.png') no-repeat;}
.apps_DownloadData_ExcelTab:hover	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-exceltab-hover.png') no-repeat;}
.apps_DownloadData_ExcelTab_disabled	{background: transparent url('/assets/Schneider/buttons-myapps-downloaddata-exceltab-disabled.png') no-repeat;}



/*  my apps virtual meter creation */

.apps_VirtualMeterCreation_NewMeter			{background: transparent url('/assets/Schneider/buttons-general-newvirtual.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.apps_VirtualMeterCreation_NewMeter:hover	{background: transparent url('/assets/Schneider/buttons-general-newvirtual-hover.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

.apps_VirtualMeterCreation_AddCalculation			{background: transparent url('/assets/Schneider/buttons-general-addcalculation.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}
.apps_VirtualMeterCreation_AddCalculation:hover	    {background: transparent url('/assets/Schneider/buttons-general-addcalculation-hover.png') no-repeat;text-indent:-9999px; display:block; width:120px; height:20px; cursor:pointer;}

/* my apps data entry */

.apps_DataEntry_CreateMeter                     {background: transparent url('/assets/Schneider/buttons-apps-dataentry-createmeter.png') no-repeat;}
.apps_DataEntry_CreateMeter:hover               {background: transparent url('/assets/Schneider/buttons-apps-dataentry-createmeter-hover.png') no-repeat;}

.apps_DataEntry_MeterReadings                   {background: transparent url('/assets/Schneider/buttons-apps-dataentry-meterreadings.png') no-repeat;}
.apps_DataEntry_MeterReadings:hover             {background: transparent url('/assets/Schneider/buttons-apps-dataentry-meterreadings-hover.png') no-repeat;}

.apps_DataEntry_UploadReadings                  {background: transparent url('/assets/Schneider/buttons-apps-dataentry-uploadreadings.png') no-repeat;}
.apps_DataEntry_UploadReadings:hover            {background: transparent url('/assets/Schneider/buttons-apps-dataentry-uploadreadings-hover.png') no-repeat;}

.apps_DataEntry_OutstandingReadings             {background: transparent url('/assets/Schneider/buttons-apps-dataentry-outstandingreadings.png') no-repeat;}
.apps_DataEntry_OutstandingReadings:hover       {background: transparent url('/assets/Schneider/buttons-apps-dataentry-outstandingreadings-hover.png') no-repeat;}




/* btnIncrease */


.btnIncrease {background: transparent url('/assets/Schneider/btn_Increase.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}
.btnIncrease:hover {background: transparent url('/assets/Schneider/btn_Increase_hover.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}


.btnDecrease {background: transparent url('/assets/Schneider/btn_Decrease.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}
.btnDecrease:hover {background: transparent url('/assets/Schneider/btn_Decrease_hover.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}

.img_Daily {background: transparent url('/assets/Schneider/img_Daily.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}
.img_Weekly {background: transparent url('/assets/Schneider/img_Weekly.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}
.img_Monthly {background: transparent url('/assets/Schneider/img_Monthly.png') no-repeat;text-indent:-9999px; display:block; width:150px; height:20px; cursor:pointer;}

/*Packs*/

.packs_Procurement {background: transparent url('/assets/Schneider/mypacks_Procurement_add.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}
.packs_Procurement_Remove {background: transparent url('/assets/Schneider/mypacks_Procurement_remove.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}

.packs_EnergyMangement {background: transparent url('/assets/Schneider/mypacks_EnergyManagement_add.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}
.packs_EnergyMangement_Remove {background: transparent url('/assets/Schneider/mypacks_EnergyManagement_remove.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}

.packs_CCA {background: transparent url('/assets/Schneider/mypacks_CCA_add.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}
.packs_CCA_Remove {background: transparent url('/assets/Schneider/mypacks_CCA_remove.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}

.packs_CRC {background: transparent url('/assets/Schneider/mypacks_CRC_add.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}
.packs_CRC_Remove {background: transparent url('/assets/Schneider/mypacks_CRC_remove.png') no-repeat;text-indent:-9999px; display:block; width:270px; height:150px; cursor:pointer;}

/*Account Packs*/


 /* rounded div */
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#6ebb1f;}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #c0e19e;
  border-right:1px solid #c0e19e;
  background:#92cc57}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f0f8e8;
  border-right:1px solid #f0f8e8;
  background:#89c749}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #89c749;
  border-right:1px solid #89c749;}
.spiffy4{
  border-left:1px solid #c0e19e;
  border-right:1px solid #c0e19e}
.spiffy5{
  border-left:1px solid #92cc57;
  border-right:1px solid #92cc57}
.spiffyfg{
  background:#6ebb1f}
  
.blspiffyfg{
  background:#082B61}
.blspiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#082B61}
  
  .blspiffy2fg
{
    background:#FF8800
}
.blspiffy2 *
{
    display:block;
    height:1px;
    overflow:hidden;
    font-size:.01em;
    background:#FF8800;
}


.lbtnSearch, .lbtnSearch:hover
{
    cursor:pointer; 
    display: block;
	margin-left:10px;
	float:right;
	width:120px; 
    height:20px;
    margin-top:5px;
}
.lbtnSearch {background: transparent url('../assets/Schneider/button-search.png') no-repeat;}
.lbtnSearch:hover {background: transparent url('../assets/Schneider/button-search-hover.png') no-repeat;}

.searchbar_Head 
{
    background-color: #cbb5cc; 
    padding:  5px 0px 0px 5px;
    font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: white;
	border: 1px solid lightgray;	
	width:96%;
}

.siteinformation 
{
    width:660px; 
    height:510px; 
    border:solid 1px lightgray;
    Z-INDEX: 125; 
    LEFT:26%; 
    POSITION: 
    absolute; 
    TOP: 95px; 
    background-color:#f1cfa9;
}

.myaccount_selectedmenu
{
    background-color:#009530;
    width:100px;
    height:50px;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    
}


.myaccount_unselectedmenu
{
    width:100px;
    height:50px;
    cursor:pointer;
    
}


.background_date	{background: transparent url('/assets/Schneider/DateBackground.png') no-repeat; height:150px; width:250px;}