<%@ Page Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="reports_Reports_Default" title="UTILISYS - Scheduled Reports" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server">

    
    <div class="content_back general">
        <ul class="box_links_reports" id="ulBox" runat="server">
            
        </ul>
    </div>

</asp:Content>

