<%@ Page Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="my-reports.aspx.vb" Inherits="my_reports" title="UTILISYS - My Reports" %>

<asp:content contentplaceholderid="content_right" runat="server">

    <div class="content_back general">
        <ul class="box_links_reports" id="ulBox" runat="server">
            
        </ul>
    </div>
</asp:content>
