﻿<%@ Page Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="GetStructureFormat.aspx.vb" Inherits="reports_CarbonReports_CRCManagementArea_CRCDetailedCompanyStructure_GetStructureFormat" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server">

  <form id="form1" runat="server">
  
  <style type="text/css" media="screen">
#iOutput
{
    position:absolute;top:100px;left:10px;border:solid 1px lightgray;font-size:8px;
}      
#nextpage
{
    height:400px;width:600px;
    
}

 .hiddencol  { display:none;  }
.viscol { display:block; }
.general {position:absolute;top:82px;left:233px;height:480px;width:670px;background: transparent url('/assets/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
 #evidencepack {position:absolute;top:50px;left:5px;height:450px;width:660px; overflow:auto; background: transparent;border:solid 1px lightgray;}
.navgeneral {position:absolute;top:83px;left:0px;width:220px;height:500px;background: white url('/assets/left-nav-account.png') no-repeat; padding-top:0px; padding-left:0px;}
.navgeneral2 {position:absolute;top:83px;left:0px;width:220px;height:50px;background: white url('/assets/left-nav-account.png') no-repeat; padding-top:0px; padding-left:0px;}
.TopLabel {position:absolute;top:50px;left:25px;height:23px;width:618px; font-size:12px;color:Navy; font-family:Verdana;   }
.TopLabel1{position:absolute;top:26px;left:115px;height:23px;width:618px; font-family:Arial;font-size:10px;color:red;   }
.TopLabel2 {position:absolute;top:13px;left:17px;height:23px;width:618px; font-size:12px;color:Navy; font-family:Verdana;   }
.TopLabel3 {position:absolute;top:55px;left:17px;height:23px;width:618px; font-size:12px;color:Navy; font-family:Verdana;   }
     #form1
     {
         height: 437px; 
     }
</style>

<div>
hello john
</div>

</form>

</asp:Content>

