﻿<%@ Page Title="" Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="reports_MyReports_Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server">


     <div class="content_back general">
        <asp:Label ID="lblReportHeader" runat="server" Text="These are your top 6 most viewed reports on UTILISYS."></asp:Label>
        <ul class="box_links_reports" id="ulBox" runat="server" style="height:900px;">
        </ul>
     </div>

</asp:Content>

