<%@ Page Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="EditForm.aspx.vb" Inherits="myapps_myevents_EditForm" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server">

<form id="Form1" runat="server">
    <div id="editform" class="content_back general">
    <asp:Label ID="selecteddate" runat="server" Text="Selected Date"></asp:Label>




    </div>
    </form>

</asp:Content>
 
 
