﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Download2.aspx.vb" Inherits="myapps_downloadhhdata_Download2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="position:absolute; z-index:999; top:100px; left:0;">
    
        
    
    <asp:GridView ID="HHDataGridView" runat="server"></asp:GridView>
    <asp:Label ID="label1" runat="server"></asp:Label><br />
    <asp:Label ID="label2" runat="server"></asp:Label><br />
    <asp:Label ID="label3" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
