﻿<%@ Page Language="VB"   MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="reports_CRCEvidencePack_EvidencePack" title="CRC Evidence Pack" %>

 <asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server"> 
     <form id="form1" runat="server">

<style type="text/css" media="screen">
 .hiddencol  { display:none;  }
.viscol { display:block; }
.general {position:absolute;top:82px;left:233px;height:480px;width:670px;background: transparent url('/assets/content-back-general.jpg') no-repeat; padding-top:15px; padding-left:10px;}
 #evidencepack {position:absolute;top:50px;left:5px;height:450px;width:660px; overflow:auto; background: transparent;border:solid 1px lightgray;}
.navgeneral {position:absolute;top:83px;left:0px;width:220px;height:500px;background: white url('/assets/left-nav-account.png') no-repeat; padding-top:0px; padding-left:0px;}
.TopLabel {position:absolute;top:23px;left:12px;height:23px;width:618px; font-family:Arial;font-size:14px;color:Navy;   }
.TopLabel1{position:absolute;top:26px;left:115px;height:23px;width:618px; font-family:Arial;font-size:10px;color:red;   }
     #form1
     {
         height: 437px; 
     }
 

</style>

<div class="navgeneral" >
    <asp:Label ID="Options" runat="server" CssClass="TopLabel"  Text="Evidence History" BorderStyle="None"></asp:Label>
 <br />
 <br />
 <br />

  <ul class="styleformytreeview" runat="server" id="navOnlineReports">  </ul> 

   
</div>


    <div class="general" >
    <asp:Label ID="TopLabel" runat="server" CssClass="TopLabel"  Text="Please select a valid date from the left" BorderStyle="None"></asp:Label>

      <iframe runat="server" id="evidencepack" FRAMEBORDER="0" name="evidencepack"></iframe> 
    
    </div>
    
    </form>
  </asp:Content> 
 