

/*
html 
{
scrollbar-face-color: #FFFFFF;
scrollbar-shadow-color: #000000;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #000000;
}
*/



body
{
background-color:#ffffc0;
 font-family:Tahoma;
 font-size:12px;
}


a:link {color:green;font-family:Tahoma , Tahoma, Helvetica, sans-serif;font-size: 12px;}      /* unvisited link */
a:visited {color:purple;font-family: Tahoma,  Helvetica, sans-serif;font-size: 12px;}  /* visited link */
a:hover {color:navy;font-family: Tahoma,  Helvetica, sans-serif;font-size: 12px;}  /* mouse over link */
a:active {color:orange;font-family: Tahoma,  Helvetica, sans-serif;font-size: 12px;}  /* selected link */

.backbutton
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 10px;
background-color:white;
color:blue;
cursor:hand;
}

.completebutton
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 10px;
background-color:white;
color:blue;
cursor:hand;
}

.messagelabel
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 12px;
color:navy;

}

.questionnumber
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 9px;
color:blue;

}

.AA
{
background-color:black;
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 13px;
color:white;
}

.BB
{
/*background-color:black;*/
font-family: Tahoma;
font-size: 14px;
color:maroon;
}

.CC
{
/*background-color:black;*/
font-family: Tahoma;
font-size: 14px;
color:red;
}


.ccc
{
 
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 12px;
color:black;

}

.headerline
{
border:1px solid blue;
background-color:black;
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 16px;
color:white;

}

.mytextareacss1
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	background-color: #ffDDDD;
        width:50px;
        height:40px;
}


.mytextareacss2
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	background-color: #ffDDDD;
        width:100px;
        height:40px;
}

.mytextareacss3
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	background-color: #ffDDDD;
        width:250px;
        height:40px;
}







div.dimmer 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Tahoma;
	font-weight:bold;
	padding:40px;
	/* ieWin only stuff 
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='honey.png');
        */

}


div.dimming {
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: #ffffff;
	position:absolute;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.sitedimming 
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: green;
	position:absolute;
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.companydimming 
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color:  green;
	position:absolute;
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.meterdimming 
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: gray;
	position:absolute;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}



table.floatingHeader
{
  background-color: #0000ff;
  color:#ffffff;
}


#labelbanner
{
 padding: 5px,5px,5px,5px;
  width:100%;
  font-family:  Trebuchet MS,Tahoma;
  font-size: 20px;
  background-color: #000000;
  color:#ffffff;
}


.UpdateComment
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: Green;
}


.One
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: Navy;
}


.Two
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	color: Navy;
}


.redline
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	border-style: solid;
	border-color: #FFFFC0;
	border-width: 1px;
	color: red;
}

.Three
{
	font-family: Tahoma, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	color: Navy;
}


/* Date fields*/
.four
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
border-style: solid;
border-color: #999999;
border-width: 1px;
width:75px;
}

.five
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
border-style: solid;
border-color: #999999;
border-width: 1px;
width:350px;
}

.gframe
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
background-color:#ffffC0;
width:100%;
height:100%;
}


.myframe
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
background-color:#ffffC0;
width:100%;
height:35px;
}

#frameOne
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
border: solid  white 1px;
width:350px;
height:300px;
}


#frameTwo
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 11px;
color:Maroon;
border: solid white  1px;
width:350px;
height:300px;
}

.col3
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 10px;
color:navy;
}

.tab
{
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 12px;
color:navy;
}


.ReportTable
{
width:45%;
font-family: Tahoma, Tahoma, Helvetica, sans-serif;
font-size: 10px;
color:navy;
}


.h11
{
font-family: Verdana, Tahoma, Helvetica, sans-serif;
font-size: 15px;
color:blue;
}

.Tago
{
font-family: Verdana, Tahoma, Helvetica, sans-serif;
font-size: 14px;
color:black;
}