<%
response.write "Hello john"

 %>

<html> 
<head></head>
<body>

<script language="javascript">
function makevalues(combobox1 ,combobox2)
{
        var crossoverstring =""
        var myselect=document.getElementById("iTag")
        for (var i=0; i<myselect.options.length; i++)
        {
             if (myselect.options[i].selected==true)
                {
                  crossoverstring = crossoverstring + '\n' + chr(34) + myselect.options[i].value + chr(34) + ',' ;
                }
         }

          alert('john'  + '\n' + crossoverstring);

    /*
        document.getElementById("pleasewait").style.visibility="visible";
        var iFileType = combobox1.options(combobox1.selectedIndex).value;
        var iTag          = combobox2.options(combobox2.selectedIndex).text;
        var iDesc        = document.getElementById("iDescription").value
        var One = form1.action + "&iTypes=" + iFileType + "&iTag=" + iTag +"&iDesc=" + "'" + iDesc + "'"
        form1.action=One
    */
    
}


</script>

 <SELECT class="Two" name="iTag" id="iTag" multiple  size="10"> 
                    <OPTION selected>Select Tag</OPTION> 
                    <OPTION value="2.1">2.1</OPTION> 
                    <OPTION value="2.2">2.2</OPTION> 
                    <OPTION value="2.3">2.3</OPTION> 
                    <OPTION value="2.4">2.4</OPTION> 
                    <OPTION value="3.1">3.1</OPTION> 
                    <OPTION value="3.2.1">3.2.1</OPTION> 
                    <OPTION value="2.3.2">3.2.2</OPTION> 
                    <OPTION value="3.2.3">3.2.3</OPTION> 
                    <OPTION value="4.1">4.1</OPTION>
                    <OPTION value="4.2">4.2</OPTION>
                    <OPTION value="4.3">4.3</OPTION> 
                    <OPTION value="4.4">4.4</OPTION> 
                    <OPTION value="5.1.1">5.1.1</OPTION>
                    <OPTION value="5.1.2">5.1.2</OPTION> 
                    <OPTION value="5.1.3">5.1.3</OPTION>
                    <OPTION value="2.1">5.1.4</OPTION>
                    <OPTION value="2.1">5.1.5</OPTION>
                    <OPTION value="2.1">5.1.6</OPTION> 
                    <OPTION value="2.1">6.1.1</OPTION> 
                    <OPTION value="2.1">6.1.2</OPTION> 
                    <OPTION value="2.1">6.2.1</OPTION> 
                    <OPTION value="2.1">6.3</OPTION> 
                    <OPTION value="2.1">6.4</OPTION> 
                    <OPTION value="2.1">6.5</OPTION> 
                    <OPTION value="2.1">6.6</OPTION>
                    <OPTION value="2.1">7.1</OPTION> 
                    <OPTION value="2.1">7.2.1</OPTION>
                    <OPTION value="2.1">7.2.2</OPTION> 
                    <OPTION value="2.1">7.2.3</OPTION> 
                    <OPTION value="2.1">7.2.4</OPTION> 
                    <OPTION value="2.1">7.2.6</OPTION> 
                    <OPTION value="2.1">7.2.7</OPTION> 
                    <OPTION value="2.1">7.2.8</OPTION>
                    <OPTION value="2.1">7.2.9</OPTION> 
                    <OPTION value="2.1">7.2.10</OPTION>
                    <OPTION value="2.1">7.2.11</OPTION>
                    <OPTION value="2.1">7.3.1</OPTION> 
                    <OPTION value="2.1">7.3.2</OPTION> 
                    <OPTION value="2.1">7.4.1</OPTION> 
                    <OPTION value="2.1">7.5</OPTION> 
                    <OPTION value="2.1">8.1.1</OPTION>
                    <OPTION value="2.1">8.1.2</OPTION>
                    <OPTION value="2.1">8.2.1</OPTION>
                    <OPTION value="2.1">8.2.2</OPTION>
                    <OPTION value="2.1">8.3</OPTION> 
                    <OPTION value="2.1">8.4</OPTION> 
                    <OPTION value="2.1">8.5</OPTION>
                    <OPTION value="2.1">8.6</OPTION> 
                    <OPTION value="2.1">8.7</OPTION> 
                    <OPTION value="2.1">8.8</OPTION> 
                    <OPTION value="2.1">8.9</OPTION> 
                    <OPTION value="2.1">9.1</OPTION> 
                    <OPTION value="2.1">9.2a</OPTION> 
                    <OPTION value="2.1">9.2b</OPTION> 
                    <OPTION value="2.1">9.3</OPTION> 
                    <OPTION value="2.1">9.4a</OPTION>
                    <OPTION value="2.1">9.4b</OPTION> 
                    <OPTION value="2.1">9.5</OPTION> 
                    <OPTION value="2.1">9.6.1</OPTION>
                    <OPTION value="2.1">9.7</OPTION>
                    <OPTION value="2.1">9.8</OPTION> 
                    <OPTION value="2.1">9.9</OPTION>
                    <OPTION value="2.1">9.10.1</OPTION>
                    </SELECT>


<br />



			 <input name="submit" type="submit" class="backbutton" value="Upload File" id="Submit1" language="javascript" onclick="makevalues(document.form1.iTypes , document.form1.iTag);"/>



</body>
</html>