html 
{
scrollbar-face-color: #FFFFFF;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #000000;
scrollbar-track-color: lightgray;
scrollbar-arrow-color: #000000;
}

.ref
{

font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
}

.Audit
{

font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
color:darkgreen;
}




.top
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
background-color: yellow;
}

.middle
{
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: yellow;
	border-style: solid;
	border-color: green;
	border-width: 1px;

}


.frame1
{

}

.frame2
{



}

.frame3
{
 font-size: 7px;
	font-style: normal;
 background-color: yellow;
margin-left:0px;
margin-top:0px;
padding:0px;

}

.frame4
{
 height:40px;
 background-color: yellow;

}




div.dimmer 
{
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family:verdana;
	font-weight:bold;
	padding:1px;
}


div.dimming {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: #ffffff;
	position:absolute;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.sitedimming 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: darkgreen;
	position:absolute;
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.companydimming 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: lightgreen;
	position:absolute;
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}

.meterdimming 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: lightgray;
	position:absolute;
	/* set z-index higher than possible */
	z-index:10000;
	visibility: hidden;
	
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
}



table.floatingHeader
{
  background-color: #0000ff;
  color:#ffffff;
}