﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="readblob.aspx.vb" Inherits="reports_CarbonReports_CRCManagementArea_CRCEvidencePack_Pack_readblob" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button runat="server" ID="btnDownload" Text="download the file" />
        <asp:Label runat="server" ID="lblError"></asp:Label>
    </div>
    </form>
</body>
</html>
