.WindowTitle{		
	Background-Color:#000080;
	Background-image : url(VSWindow_Images/GradientBar.gif);
	background-attachment : fixed;
	background-repeat : repeat-y;
	Color: White;
	Font-Size:x-small;
	Font-Weight:Bold;
	Font-Family:Arial;
	cursor:hand;}
	
.WindowScrollDiv{
	Overflow-y:hidden;
	Overflow-x:hidden;
	Width:100%;
	Height: auto;
	Background-Color:DDDDDD;
	Font-size: xx-small;
	Font-Family: Verdana;	
	}
.WindowBorder{
	border:0 outset 2;
}
.WindowDragMe{
	Cursor:move;
}