
.maingroup
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    OVERFLOW: scroll;
    BORDER-LEFT: black thin solid;
    WIDTH: 980px;
    BORDER-BOTTOM: black thin solid;
    POSITION: absolute;
    HEIGHT: 570px;
}
.maindiv
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    OVERFLOW: scroll;
    BORDER-LEFT: gray thin solid;
    WIDTH: 980px;
    BORDER-BOTTOM: gray thin solid;
    POSITION: relative;
    HEIGHT: 570px;
}
.econode
{
   background-color:yellow;
    BORDER-RIGHT: red thin solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: blue thin solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: xx-small;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: blue thin solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: blue thin solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    POSITION: absolute;
    TEXT-OVERFLOW: clip;
}
A.ecolink:visited
{ 
    COLOR: black;
    TEXT-DECORATION: none;
}
A.ecolink:hover
{
    TEXT-DECORATION: underline;
}


.InnerDIV
{
background-color:yellow; 
overflow: auto;
border: 1px solid #666;
background-color: #ccc;
padding: 8px;
}

.John
{
background-color:yellow;
 color:orange;
}

.Smith
{
background-color:blue;

}

.AddressWindow_Site1 
{
margins:0;
   background-color:#25664f;
   color:white;
   display:;
   position:relative;
    top:60px;
   left:1px;
}

.AddressWindow_Company1 
{
   background-color:#63a609;
   color:white;
   display:;
   position:relative;
   top:60px;
   left:1px;
}

.AddressWindow_Meter1
{
   background-color:#d9dbc5;
   color:white;
}


 .Harry
{
background-color:#25664f;
 color:#25664f;
}

 .dick
{
background-color:#63a609;
 color:#63a609;
}



 .tom
{
background-color:#ffffc0;
 color:#ffffc0;
}

.masterdivclass
{
position:relative;
top:300px;
left:300px;
height:300px;
width:300px;
z-index:999;
}

.myTable
{
 font-family:Verdana;
 font-size:14px;
 borders:1;
 background-color:orange; 
 color:black;
 z-index:2000;

}

 .Company
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0px;
      cellspacing:0px;
      /*background-color:#63a609;*/
      background-color:transparent;
      color:white;
      font-family:verdana;
      font-size:12px;
      
  }

.Site
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      background-color:#25664f;
      color:white;
      font-family:verdana;
      font-size:12px;
  }

.totclass
{
leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      color:white;
      font-family:verdana;
      font-size:12px;
}


.windowcontent
{
     leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      font-family:verdana;
      font-size:12px;
      width:200px; 
      height:300px;
      visibility:hidden;
      background-color:Maroon;
}

 .windowcontentCompany
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0px;
      cellspacing:0px;
      background-color:#63a609;
      color:white;
      font-family:verdana;
      font-size:12px;
      
  }
   .windowcontentSite
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      background-color:#25664f;
      color:white;
      font-family:verdana;
      font-size:12px;
  }


html
{ background-color:#ffffc0; }

body
{ background-color:#ffffc0; }

.myTable
{
 font-family:verdana;
 font-size:10px;	
}

 Button 
 {
	cursor:hand;
	background-color:#dddddd; 
	font-size:9px;
	font-weight:normal;
 } 