
.maingroup
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    OVERFLOW: scroll;
    BORDER-LEFT: black thin solid;
    WIDTH: 980px;
    BORDER-BOTTOM: black thin solid;
    POSITION: absolute;
    HEIGHT: 570px;
}
.maindiv
{
    BORDER-RIGHT: gray thin solid;
    BORDER-TOP: gray thin solid;
    OVERFLOW: scroll;
    BORDER-LEFT: gray thin solid;
    WIDTH: 980px;
    BORDER-BOTTOM: gray thin solid;
    POSITION: relative;
    HEIGHT: 570px;
}
.econode
{
   background-color:yellow;
    BORDER-RIGHT: red thin solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: blue thin solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: xx-small;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: blue thin solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: blue thin solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    POSITION: absolute;
    TEXT-OVERFLOW: clip;
}
A.ecolink:visited
{ 
    COLOR: black;
    TEXT-DECORATION: none;
}
A.ecolink:hover
{
    TEXT-DECORATION: underline;
}


.InnerDIV
{
background-color:yellow; 
overflow: auto;
border: 1px solid #666;
background-color: #ccc;
padding: 8px;
}

.John
{
background-color:yellow;
 color:orange;
}

.Smith
{
background-color:blue;

}

.AddressWindow_Site1 
{
margins:0;
   background-color:#25664f;
   color:white;
   display:;
   position:relative;
    top:60px;
   left:1px;
}

.AddressWindow_Company1 
{
   background-color:#63a609;
   color:white;
   display:;
   position:relative;
   top:60px;
   left:1px;
}

.AddressWindow_Meter1
{
   background-color:#d9dbc5;
   color:white;
}


 .Harry
{
background-color:#25664f;
 color:#25664f;
}

 .dick
{
background-color:#63a609;
 color:#63a609;
}



 .tom
{
background-color:#ffffc0;
 color:#ffffc0;
}

.masterdivclass
{
position:relative;
top:300px;
left:300px;
height:300px;
width:300px;
z-index:999;
}

.myTable
{
 font-family:Verdana;
 font-size:14px;
 borders:1;
 background-color:orange; 
 color:black;

}

 .Company
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0px;
      cellspacing:0px;
      background-color:#63a609;
      color:white;
      font-family:verdana;
      font-size:12px;
      
  }

.Site
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      background-color:#25664f;
      color:white;
      font-family:verdana;
      font-size:12px;
  }

.totclass
{
leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      color:white;
      font-family:verdana;
      font-size:12px;
}


.windowcontent
{
     leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      font-family:verdana;
      font-size:12px;
      width:200px; 
      height:300px;
      visibility:hidden;
      background-color:Maroon;
}

 .windowcontentCompany
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0px;
      cellspacing:0px;
      background-color:#63a609;
      color:white;
      font-family:verdana;
      font-size:12px;
      
  }
   .windowcontentSite
 {
      leftmargin:0px;
      topmargin:0px;
      marginwidth:0px;
      marginheight:0px;
      padding:0px;
      cellpadding:0;
      cellspacing:0;
      background-color:#25664f;
      color:white;
      font-family:verdana;
      font-size:12px;
  }


html
{ background-color:#ffffc0; }

body
{ 
	/*background-color:#ffffc0; */
	
	background-color:#ffffff; 
	
	font-family:Arial;
	font-size:8px;
	}

 

.Main
{
 position:absolute;
  top:100px;
 left:20px;
}

.TableClass1
{
 position:absolute;
  top:20px;
 left:20px;
 /*border:solid 1px red;*/
}

.TableClass 
{
 
}

.CompanyLine
{ background-color:#FFFFff; }

.ccsCompany1
{ 
	background-color:#FFFFff; 
	height:100%;
	 
	}

.ccsCompany2
{ background-color:#000000;
	height:35px;
	 
	 }


.MeterType
{ width:400px; background-color:#ffffff; color: gray;font-weight:normal;  font-size:10px;font-style:italic;}

.SiteType
 /*{ width:400px; background-color:#25664f; color: #FFFFC0;font-weight:normal; font-size:10px;} */
 { width:400px; background-color:#ffffff; color: #25664f;font-weight:normal; font-size:13px;} 

.CompanyType
/*{ width:400px; background-color:#63a609; color: #FFFFC0; font-size:14px;font-weight:normal}*/

{
	 width:95%; background-color:#ffffff; color: #63a609; font-size:13px;font-weight:normal;
	/*border:solid 1px #ffffff;*/
	}


Button
{
	{ width:18px;height:18px; background-color:#ffffff; color: red; font-weight:normal;font-size:10px;font-family: Verdana ;cursor:hand;}
}

/*top organisastion header*/
.consumption_header_top
{
	font-size:11px;font-family: Verdana ;width:78px;color:black;text-align:right;
}

.co2_header_top
{
	font-size:11px;font-family: Verdana ;width:84px;color:black;text-align:right;
}

.headername
{
	font-size:14px;font-family: Verdana ; color:navy;text-align:left;
	
}	




/*header styles*/
.co2_header
{
	font-size:11px;font-family: Verdana ;width:100px;color:purple;text-align:right;
}

.consumption_header
{
	font-size:11px;font-family: Verdana ;width:100px;color:purple;text-align:right;
}


/*Sitestyles*/
		.Site_co2_Column
		{
			font-size:11px;font-family: Verdana ;width:100px;color:#25664f;text-align:right;
		}

		.Site_consumption_Column
		{
			font-size:11px;font-family: Verdana ;width:100px;color:#25664f;text-align:right;
		}


/*meter styles*/
.meter_co2_Column
		{
			font-size:9px;font-family: Verdana ;width:100px;color:gray;text-align:right;
		}

		.meter_consumption_Column
		{
			font-size:9px;font-family: Verdana ;width:100px;color:gray;text-align:right;
		}

