﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="mappytest.aspx.vb" Inherits="mysites_map_mappytest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <title>My GMapEZ Maps</title>

    <meta name="gmapkey" content="ABQIAAAAgjbu9Jx0rwnbnibWJoUwHBQPm2RX4Fbr1aeYvJdwrrongw7VEBQKGpOKUOoumBGCP5-N4JnSyUaaVg" />
    <script
      src="../../js/gmapez.js"
      type="text/javascript"></script>

  </head>
  <body>

    <div class="GMapEZ" style="width: 300px; height: 300px;">
    </div>

  </body>
</html>
