<%@ Page Language="VB" MasterPageFile="~/landing.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="myapps_virtualmetercreation_default" title="Virtual Meter Creation" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content_right" Runat="Server">

                
<form id="Form1" runat="server">

    <div class="content_back general">
            <table cellpadding="0" cellspacing="0">
                
                <tr valign="middle">
                    <td width="150px" >
                        <asp:Label ID="lblDescription" Text="Description" runat="server"></asp:Label>
                    </td>
                    <td width="400px" align="left">
                        <asp:Label ID="lblName" Text="Name" runat="server"></asp:Label>
                    </td>
                    <td >
                        
                    </td>
                </tr>
                
                <tr valign="middle">
                    <td width="150px" >
                        Application
                    </td>
                    <td width="400px" align="left">
                        Virtual Meter Creation
                    </td>
                    <td width="50px">
                        
                    </td>
                </tr>
                
                <tr style="height:10px;">
                    <td>
                    
                    </td>
                </tr>
                
                
                
                <tr>
                    <td colspan="4">
                        <table>
                            <tr>
                                <td style="vertical-align:top;">
                                    <asp:Panel ID="pnlShowVirtualMeters" runat="server"  Visible="true" Width="630px" Height="400px" CssClass="defaultPanel" ScrollBars="Vertical">
                                        <table style="width:610px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="defaultPanelHeader" style="width:610px;">
                                                    Virtual Meters
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <asp:GridView DataKeyNames="intVirtualMeterPK" DataMember="varVirtualMeterName" RowStyle-Font-Size="8pt" Width="600px" AutoGenerateDeleteButton="True" AutoGenerateSelectButton="true" autogeneratecolumns="False" borderwidth="0px" ID="grd2" cssclass="users" runat="server" >
                                                        <RowStyle Font-Size="8pt"></RowStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="varVirtualMeterName" HeaderText="Name" ItemStyle-Width="500px" />
                                                            <asp:BoundField DataField="intPreCreatedVirtual" HeaderText="Calc'd" />
                                                            <asp:BoundField DataField="intVirtualMeterPK"  >
                                                                <ControlStyle Font-Size="0pt" Width="0px" />
                                                                <FooterStyle Font-Size="0pt" Width="0px" />
                                                                <HeaderStyle Font-Size="0pt" Width="0px" />
                                                                <ItemStyle Font-Size="0pt" Width="0px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                        <SelectedRowStyle BackColor="Yellow"></SelectedRowStyle>
                                                        <headerstyle cssclass="header" BackColor="#009530" />
                                                    </asp:GridView>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:Panel>    <!-- Virtual Meters -->
                                    
                                    <asp:Panel ID="pnlShowCalculations" runat="server"  Visible="false" Width="630px" Height="189px" CssClass="defaultPanel" ScrollBars="Vertical">
                                        <table style="width:610px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="defaultPanelHeader" style="width:610px;">
                                                    <asp:label id="lblCurrentCalculationSteps" runat="server" Text="Current Calculation Steps"></asp:label>
                                                </td>
                                            </tr>
                                            <tr style="height:10px;">
                                                <td>
                                                    <asp:GridView RowStyle-Font-Size="8pt" Width="600px" AutoGenerateDeleteButton="True" autogeneratecolumns="False" borderwidth="0px" ID="grd1" cssclass="users" runat="server" >
                                                        <RowStyle Font-Size="8pt"></RowStyle>
                                                        <Columns>
                                                            <asp:BoundField DataField="multiplier" HeaderText="+" />
                                                            <asp:BoundField DataField="meter" HeaderText="Meter" ItemStyle-Width="500px" />
                                                            <asp:BoundField DataField="id"  >
                                                                <ControlStyle Font-Size="0pt" Width="0px" />
                                                                <FooterStyle Font-Size="0pt" Width="0px" />
                                                                <HeaderStyle Font-Size="0pt" Width="0px" />
                                                                <ItemStyle Font-Size="0pt" Width="0px" />
                                                            </asp:BoundField>
                                                        </Columns>
                                                        <SelectedRowStyle BackColor="Yellow"></SelectedRowStyle>
                                                        <headerstyle cssclass="header" BackColor="#009530" />
                                                    </asp:GridView>
                                                </td>
                                            </tr> 
                                        </table>                                    
                                    </asp:Panel>     <!-- Calculations --> 
                                
                                    <asp:Panel ID="pnlButtons" runat="server"  Visible="true" Width="630px" ScrollBars="None">
                                        <table style="width:630px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width:120px; ">
                                                    <asp:LinkButton ID="lnkCancelCalculation" runat="server" CssClass="btnCancel" Text="Cancel" Visible="false" ></asp:LinkButton>
                                                </td>
                                                <td style="width:370px; ">
                                                
                                                </td>
                                                <td style="width:120px; ">
                                                    <asp:LinkButton ID="lnkAddCalcualtion" runat="server" CssClass="apps_VirtualMeterCreation_AddCalculation" Text="Add" Visible="false" ></asp:LinkButton>
                                                
                                                    <asp:LinkButton ID="lnkNewVirtualMeter" runat="server" CssClass="apps_VirtualMeterCreation_NewMeter" Text="New" ></asp:LinkButton>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:Panel>              <!-- Buttons -->
                                    
                                    <asp:Panel ID="pnlNewVirtualMeter" runat="server"  Visible="false" Width="630px" CssClass="defaultPanel">
                                        <table cellpadding="0" cellspacing="0" style="width:630px;" > 
                                            <tr>
                                               <td colspan="4" class="defaultPanelHeader">New Virtual Meter</td>
                                            </tr>
                                            <tr style="height:10px;">
                                                <td></td>
                                            </tr> 
                                            <tr>
                                                <td style="width:10px;">
                                                
                                                </td>
                                                <td style="width:160px;">
                                                    Site
                                                </td>
                                                <td style="width:260px;">
                                                    <asp:dropdownlist ID="ddlVirtualMeterSites" runat="server" Width="264px" AutoPostBack="true"></asp:dropdownlist>
                                                </td>
                                                <td style="width:10px;">
                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                
                                                </td>
                                                <td>
                                                    Meter Name
                                                </td>
                                                <td>
                                                    <asp:TextBox ID="txtVirtualMeterName" runat="server" Width="260px" ></asp:TextBox>
                                                </td>
                                                <td>
                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Description (Optional)
                                                </td>
                                                <td>
                                                    <asp:TextBox ID="txtVirtualMeterDescription" runat="server" Width="260px"></asp:TextBox>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Pre-aggregated Meter?
                                                </td>
                                                <td>
                                                    <asp:DropDownList ID="ddlPreAggMeter" runat="server" Width="264px" AutoPostBack="true">
                                                        <asp:ListItem Value="0" Text="-- please select --" Selected="True"></asp:ListItem>
                                                        <asp:ListItem Value="1" Text="Yes"></asp:ListItem>
                                                        <asp:ListItem Value="2" Text="No"></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr style="height:10px;">
                                                <td></td>
                                                <td colspan="2">
                                                    <asp:Label ID="lblErrorNewVirtual" runat="server" ForeColor="Red"></asp:Label>
                                                </td>
                                            </tr> 
                                            
                                             <tr>
                                                <td colspan="4" >
                                                    <table style="width:100%;" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <asp:LinkButton ID="btnCancelAddVirtual" runat="server" CssClass="btnCancel" Text="Cancel" ></asp:LinkButton>
                                                            </td>
                                                            <td style="width:380px;">
                                                            
                                                            </td>
                                                            <td>
                                                                 <asp:LinkButton ID="btnAdd" CssClass="btnAdd" runat="server" Text="Add"></asp:LinkButton>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                           
                                            
                                            
                                            
                                        </table>
                                    </asp:Panel>      <!-- New Virtual Meter -->
                                    
                                    <asp:Panel ID="pnlAddNewCalculation" runat="server" Visible="false" Width="630px" CssClass="defaultPanel" >
                                        <table cellpadding="0" cellspacing="0" style="width:630px;" > 
                                           
                                            <tr>
                                               <td colspan="4" class="defaultPanelHeader">New Calculation</td>
                                            </tr>
                                            
                                            <tr style="height:10px;">
                                                <td></td>
                                            </tr> 
                                            
                                            <tr>
                                                <td style="width:10px;">
                                                
                                                </td>
                                                 <td width="160px">
                                                    Meter Type
                                                </td>
                                                <td >
                                                    <asp:DropDownList ID="ddlMeterType" runat="server" Width="200px" AutoPostBack="true">
                                                        <asp:ListItem Value="0" Text="-- please select --" Selected="True"></asp:ListItem>
                                                        <asp:ListItem Value="1" Text="Fiscal Meter" ></asp:ListItem>
                                                        <asp:ListItem Value="2" Text="Sub Meter" ></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                                <td style="width:10px;">
                                                
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Meter
                                                </td>
                                                <td>
                                                    <asp:DropDownList ID="ddlMeter" runat="server" Width="200px" AutoPostBack="true">
                                                        <asp:ListItem Value="0" Text="-- please select --" Selected="True"></asp:ListItem>
                                                    </asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Multiplier
                                                </td>
                                                <td>
                                                    <asp:DropDownList ID="ddlMultiplier" runat="server" Width="200px" AutoPostBack="true"></asp:DropDownList>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    Description (Optional)
                                                </td>
                                                <td>
                                                    <asp:TextBox ID="txtNewMeterDescription" runat="server" Width="260px"></asp:TextBox>
                                                </td>
                                            </tr>
                                            <tr style="height:10px;">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                
                                                </td>
                                                <td colspan="4" >
                                                    <table style="width:100%;" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <asp:LinkButton ID="lnkbtnCancelCalculation" runat="server" CssClass="btnCancel" Text="Cancel" ></asp:LinkButton>
                                                            </td>
                                                            <td style="width:380px;">
                                                            
                                                            </td>
                                                            <td >
                                                                <asp:LinkButton ID="lnkbtnAddCalculation" runat="server" CssClass="btnAdd" Text="Add" ></asp:LinkButton>
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:Panel>    <!-- New Calculation Meter -->
                                    
                                    <asp:Panel ID="pnlDeleteVirtualConfirmation" runat="server" Visible="false" Width="630px" CssClass="defaultPanel" >
                                        <table cellpadding="0" cellspacing="0" style="width:630px;" > 
                                           
                                            <tr>
                                                <td colspan="4" class="defaultPanelHeader">
                                                    <asp:label ID="lblDeleteVirtualConfirmation_Title" runat="server" Text="Delete Confirmation"></asp:label>
                                                </td>
                                            </tr>
                                            
                                            <tr style="height:10px;">
                                                <td></td>
                                            </tr> 
                                            
                                            <tr>
                                                <td>
                                                
                                                </td>
                                                <td colspan="3" >
                                                    <table style="width:100%;" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <asp:LinkButton ID="lnkDeleteVirtualConfirmation_Cancel" runat="server" CssClass="btnCancel" Text="Cancel" ></asp:LinkButton>
                                                            </td>
                                                            <td style="width:380px;">
                                                                <asp:TextBox ID="txtDeleteVirtualConfirmation_VirtualMeterID" runat="server" Text=""></asp:TextBox>
                                                            </td>
                                                            <td >
                                                                <asp:LinkButton ID="lnkDeleteVirtualConfirmation_Confirm" runat="server" CssClass="btnAdd" Text="Add" ></asp:LinkButton>
                                                            </td>
                                                            
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:Panel>    <!-- Delete Virtual Meter Confirmation -->
                                </td>
                            </tr>                       
                        </table>
                    </td>
                </tr>    <!-- New Layout -->
            </table>
        </div>
</form>
</asp:Content>

