﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CarbonAccount.aspx.vb" Inherits="CarbonReports_CRC_CarbonAccount" %>

<%@ Register Assembly="DundasWebChart" Namespace="Dundas.Charting.WebControl" TagPrefix="DCWC" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Carbon Account</title>
    <link rel="stylesheet" href="../../../modalbox/modalreport.css" type="text/css" media="screen" />   

</head>
<body>
    <form id="form1" runat="server">

<table>
    <tr>
        <td style="vertical-align:top;">
            <table >
                <tr>
                    <td ID="table1" runat="server" >
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table> <%--tables--%>


  
       


    </form>
</body>
</html>
